/* .contact-container{
    background-image: linear-gradient(180deg,#091335,rgba(9,19,53,0),rgba(9,19,53,0),rgba(9,19,53,0),#091335);
    padding-bottom: 3%;
    position: relative;
    z-index:1;
}

.contact-heading{
    font-size: 2rem;
    padding:1% 3%;
    padding-top:5%;
}

form{
    display: flex;
    padding:5%;
    flex-direction: column;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    margin:3% 3%;
}

form input , textarea, button{
    border:0;
    outline: 0;
    border-bottom: 1px solid black;
    resize: none;
    font-size: 1.1rem;
    margin-left:30%;
    margin-top:20px;
    max-width:300px;
}

form textarea{
    height:3em;
}

.sendbutton{
    background-color: black;
    color:white;
    padding:1%;
    max-width: fit-content;
}

@media only screen and (max-width:620px){
    form input , textarea, button{
        margin-left:15%;
    }
}

@media only screen and (max-width:480px){
    form input , textarea, button{
        margin-left:5%;
    }
} */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}


.contact-form {
  position: relative;
  /* min-height: 100vh; */

  z-index: 0;
  background: #36014e;
  padding: 30px;
  /* justify-content: center; */
  /* display: grid; */
  /* grid-template-rows: 1fr auto 1fr; */
  /* align-items: center; */
}
.contact-form .container {
  margin:6% ;
}
.contact-form h1 {
  margin-top: 0%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fdfdfd;
  font-family: "poppins";
}
.contact-form h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #69275c;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact-form .main {
  position: relative;
  display: flex;
  margin: 30px 0;
}
.contact-form .content {
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.form-img {
  flex-basis: 50%;
  background: #f0f4f8;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}
.form-img img {
  max-width: 100%;
}
.btn,
button,
input {
  border-radius: 35px;
}
.btn:hover,
button:hover {
  color: #97359c;
  transition: 0.5s ease;
}
.contact-form form {
  margin: 30px 0;
}
.contact-form input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #fcfcfc;
  transition: 0.3s ease;
}
.contact-form input:focus {
  background: transparent;
  border: 1px solid #69275c;
}
.contact-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #69275c;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 14px 15px;
  border: 1px solid #69275c;
}
@media (max-width: 736px) {
  .contact-form .main {
    flex-direction: column;
  }
  .contact-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
    display: none;
  }
  .contact-form .content {
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.contact-form {
  margin-top: 0px;
  color: #f0f4f8;
}